<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">HomeLibrary</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a *ngIf="isLoggedIn" [routerLink]="['/library', userName]">Library</a></li>
      <li><a *ngIf="isLoggedIn">Members</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a *ngIf="isLoggedIn">{{userName ? userName : userEmail}}</a>
        <a *ngIf="!isLoggedIn" [routerLink]="['/register']">Register Now</a>
      </li>
      <li>
        <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        <a *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
