.book-element {
  padding-top: 10px;
}

.book-img {
  height: 200px;
  width: 140px;
}

.book-img:hover+.book-button, .book-button:hover {
  visibility: visible;
}

.book-button {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}
