<div class="container wrapper">
  <div class="input-search">
    <div class="input-group">
      <input #textSearcher type="text" class="form-control" id="searchBooksInput" placeholder="type your book..." [(ngModel)]="searchText" (change)="onType($event)">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="onType(textSearcher.value)">Send</button>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="book-element col-md-2 col-sm-6" *ngFor="let book of searchResult">
        <img [src]="getImage(book)" class="book-img img-rounded" [alt]="book.volumeInfo.title">
        <button class="book-button btn btn-default" (click)="saveBook(book)">+</button>
      </div>
    </div>
  </div>
</div>
