<div class="container">
  <h1 *ngIf="!storage.userId">Register or login to get access to this page.</h1>
  <div *ngIf="storage.userId">
    <h3>Your invitation link</h3>
    <h4>addmember/{{this.storage.userId}}</h4>
    <h3>Do you have any invitation?</h3>
    <div class="input-group">
      <input #textInvitation type="text" class="form-control" placeholder="Pass your invitation link...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getInvitation(textInvitation.value)">Send</button>
      </span>
    </div>
    <div class="shared-library">
      <h1>Shared library</h1>
      <div *ngIf=" this.storage.userMembers.length == 0">
        <p>You have not join to any shared library yet.</p>
        <p>Send your invitation link to share yours library, </p>
        <p>or paste other users invitation link in the field to get access to their library.</p>
      </div>
      <div class="library-element col-md-4 col-sm-6 " *ngFor="let library of this.storage.userMembers">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1>{{library}}</h1>
            <a class="btn btn-default btn-primary" [routerLink]="['/library', library]">Open library</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
